html, body {
  height: 100%;
}
body {
  text-align: center;
}
.site-header {
  border-bottom: 1px solid #ccc !important;
}
.dark-ui .site-header,
.dark-ui .site-page {
  color: #fff;
  background: #333;
}
.site-header a {
  color: #999;
}
.site-header a:hover,
.site-header a:focus,
.site-header .nav>.active>a {
  color: #000;
}
.site-header .nav a:hover,
.site-header .nav a:focus,
.site-header .nav>.active>a {
  background: #eee;
}
.dark-ui .site-header a {
  color: #ddd;
}
.dark-ui .site-header a:hover,
.dark-ui .site-header a:focus,
.dark-ui .site-header .nav>.active>a {
  color: #fff;
}
.dark-ui .site-header .nav a:hover,
.dark-ui .site-header .nav a:focus,
.dark-ui .site-header .nav>.active>a {
  background: #111;
}
.site-page {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: table;
  background: #fff;
  color: #000;
  padding-top: 70px;
}
.site-content {
  vertical-align: middle;
  display: table-cell;
}
.gravatar > img:hover {
  box-shadow: 0 0 10px 8px #ccc;
  transition: box-shadow 800ms;
}
